
html {
    height: 100%;
    width: 100%;
    display: block;
}
body {

    height: 100%;
}

#main-container {

    padding-bottom: 120px;   
}
#footer {
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 0;
}