<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>

		<mapping class="com.xx.nextfilm.entity.UserEntity"/>
		<mapping class="com.xx.nextfilm.entity.UserDetailEntity"/>
		<mapping class="com.xx.nextfilm.entity.UserProfileEntity"/>
		<mapping class="com.xx.nextfilm.entity.ActorEntity"/>
		<mapping class="com.xx.nextfilm.entity.CinemaEntity"/>
		<mapping class="com.xx.nextfilm.entity.HallEntity"/>
		<mapping class="com.xx.nextfilm.entity.ShowingEntity"/>
		<mapping class="com.xx.nextfilm.entity.FilmEntity"/>
		<mapping class="com.xx.nextfilm.entity.SeatEntity"/>
		<mapping class="com.xx.nextfilm.entity.FCMEntity"/>
	</session-factory>
</hibernate-configuration>